<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>

    <link href="{{ url_for('chatbot.send_css') }}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

</head>

<body class="bg-transparent">
    <div class="flex flex-col h-[100vh] w-[100vw] rounded-xl border bg-white">
        <div class="border-b pl-4 pr-4 pt-2 pb-1 flex justify-between items-center">
            <div class="flex flex-row items-center">
                <img id="header-pfp" class="rounded-full w-7 h-7 mr-3 drop-shadow-2xl" src="" />
                <h3 class="font-[600] text-lg bot-title"></h3>
            </div>

            <div>
                <button id="close-button" class="m-2 bg-white">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                        <path fill="#212121"
                            d="M2.39705176,2.55378835 L2.46966991,2.46966991 C2.73593648,2.20340335 3.15260016,2.1791973 3.44621165,2.39705176 L3.53033009,2.46966991 L8,6.939 L12.4696699,2.46966991 C12.7625631,2.1767767 13.2374369,2.1767767 13.5303301,2.46966991 C13.8232233,2.76256313 13.8232233,3.23743687 13.5303301,3.53033009 L9.061,8 L13.5303301,12.4696699 C13.7965966,12.7359365 13.8208027,13.1526002 13.6029482,13.4462117 L13.5303301,13.5303301 C13.2640635,13.7965966 12.8473998,13.8208027 12.5537883,13.6029482 L12.4696699,13.5303301 L8,9.061 L3.53033009,13.5303301 C3.23743687,13.8232233 2.76256313,13.8232233 2.46966991,13.5303301 C2.1767767,13.2374369 2.1767767,12.7625631 2.46966991,12.4696699 L6.939,8 L2.46966991,3.53033009 C2.20340335,3.26406352 2.1791973,2.84739984 2.39705176,2.55378835 L2.46966991,2.46966991 L2.39705176,2.55378835 Z">
                        </path>
                    </svg>
                </button>
            </div>
        </div>

        <div id="init-loader"
            class="bg-white rounded-xl border w-[100vw] h-[100vh] absolute top-0 left-0 z-[999] flex flex-col justify-center items-center overflow-hidden">
        </div>

        <div id="chatbox" class="bg-white my-4 overflow-y-auto h-[100%] m-4">
            <!-- Chat messages will appear here -->
        </div>

        <div class="border rounded-md flex flex-row items-center m-4">
            <input id="message-input" class="w-full outline-none px-2 disabled:bg-white peer" type="text" disabled
                autocomplete="off" placeholder="Type your message here...">

            <button id="send-button" class="m-2 bg-white peer-disabled:opacity-20">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="none" d="M0 0h24v24H0V0z"></path>
                    <path fill="#0074f0" class="color000000 svgShape"
                        d="M3.4 20.4l17.45-7.48c.81-.35.81-1.49 0-1.84L3.4 3.6c-.66-.29-1.39.2-1.39.91L2 9.12c0 .5.37.93.87.99L17 12 2.87 13.88c-.5.07-.87.5-.87 1l.01 4.61c0 .71.73 1.2 1.39.91z">
                    </path>
                </svg>
            </button>
        </div>
    </div>

    <script>
        const chatbox = document.getElementById('chatbox');
        const messageInput = document.getElementById('message-input');
        const sendButton = document.getElementById('send-button');
        const closeButton = document.getElementById('close-button');
        const initLoader = document.getElementById("init-loader");
        const headerPfp = document.getElementById("header-pfp");

        let emailMsgAdded = false;
        let shouldCaptureEmail = false;


        const loader = `
            <div class="w-full gap-x-2 flex justify-center items-center chatbot-loader">
                <div class="w-3 h-3 bg-[#d991c2] animate-pulse rounded-full"></div>
                <div class="w-3 h-3 animate-pulse bg-[#9869b8] rounded-full"></div>
                <div class="w-3 h-3 animate-pulse bg-[#6756cc] rounded-full"></div>
            </div>
        `;

        const loaderMsg = `
            <div class="container flex justify-start" id="loader">
                <div class="p-3 py-4 bg-gray-200 my-2 rounded-tl-xl rounded-tr-xl rounded-br-xl max-w-[90%]">
                    ${loader}
                </div>
            </div>
        `;

        const emailSubmitMsg = `
            <div id="email-submit-message" class="container flex justify-start">
                <div class="p-3 bg-gray-200 my-2 rounded-tl-xl rounded-tr-xl rounded-br-xl max-w-[90%]">
                    <p>To provide you with the best assistance and keep you updated with any follow-ups, could you
                        please share your email address?</p>

                    <div class="bg-white rounded-md flex flex-row items-center mt-4">
                        <input id="email-input" class="w-full outline-none px-2" type="text" autocomplete="off"
                            placeholder="Type your email here...">

                        <button id="email-send-button" class="m-2 bg-white">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path fill="none" d="M0 0h24v24H0V0z"></path>
                                <path fill="#0074f0" class="color000000 svgShape"
                                    d="M3.4 20.4l17.45-7.48c.81-.35.81-1.49 0-1.84L3.4 3.6c-.66-.29-1.39.2-1.39.91L2 9.12c0 .5.37.93.87.99L17 12 2.87 13.88c-.5.07-.87.5-.87 1l.01 4.61c0 .71.73 1.2 1.39.91z">
                                </path>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        `



        function scrollToBottom() {
            document.getElementById("chatbox").lastElementChild.scrollIntoView({
                behavior: "smooth",
                block: "end"
            });
        }


        function convertToLinks(text) {
            const emailPattern = /([a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,})/g;
            const urlPattern = /(https?:\/\/[^\s]+)/g;
            text = text.replace(emailPattern, '<a style="color: #0074f0" href="mailto:$1" target="_blank">$1</a>');
            text = text.replace(urlPattern, '<a style="color: #0074f0" href="$1" target="_blank">$1</a>');
            return text;
        }


        function addBotMsg(m) {
            chatbox.insertAdjacentHTML('beforeend', `
                <div class="container flex justify-start">
                    <div class="p-3 bg-gray-200 my-2 rounded-tl-xl rounded-tr-xl rounded-br-xl max-w-[90%]">
                        <p>${m}</p>
                    </div>
                </div>
            `);
        }


        async function submitMsg() {
            let userMessage = messageInput.value;
            if (userMessage.trim() !== "") {
                chatbox.insertAdjacentHTML('beforeend', `
                    <div class="container flex justify-end">
                        <div class="p-3 bg-[#0074f0] text-white my-2 rounded-tl-xl rounded-tr-xl rounded-bl-xl max-w-[90%] mr-2">
                            <p>${userMessage}</p>
                        </div>
                    </div>
                `);
                chatbox.insertAdjacentHTML('beforeend', loaderMsg);

                messageInput.value = '';
                messageInput.disabled = true;
                scrollToBottom();

                let response = await fetch('/chatbot/message', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        message: userMessage,
                        botId: botId
                    })
                });
                let data = await response.json();
                let botMessage = data.response;

                document.getElementById("loader").remove();
                addBotMsg(convertToLinks(botMessage));

                messageInput.disabled = false;
                messageInput.focus();
                scrollToBottom();

                if (emailMsgAdded === false && shouldCaptureEmail == true) {
                    addEmailMsg();
                    emailMsgAdded = true;
                }
            }
        }


        function validateEmail(email) {
            var re = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            return re.test(email);
        }


        function addEmailMsg() {
            chatbox.insertAdjacentHTML('beforeend', emailSubmitMsg);

            scrollToBottom();

            setTimeout(() => {
                document.getElementById("email-send-button").addEventListener('click', submitEmail);

                let emailInput = document.getElementById("email-input");
                emailInput.focus();
                emailInput.addEventListener("keyup", (event) => {
                    if (event.key === "Enter") submitEmail();
                })
            }, 500);
        }


        async function submitEmail() {
            let userEmail = document.getElementById('email-input').value;
            if (userEmail.trim() !== "") {
                if (validateEmail(userEmail)) {
                    document.getElementById("email-submit-message").remove();
                    chatbox.insertAdjacentHTML('beforeend', loaderMsg);

                    let response = await fetch('/chatbot/email-submit', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            email: userEmail,
                            botId: botId
                        })
                    });
                    let data = await response.json();
                    document.getElementById("loader").remove();

                    if (data.status === 200) {
                        addBotMsg("Thank you for providing your email! We'll be in touch soon.")
                    } else {
                        document.getElementById("email-submit-message").remove();
                        addBotMsg("Invalid email. Please enter a valid email address.")
                        addEmailMsg();
                    }
                    scrollToBottom();

                } else {
                    document.getElementById("email-submit-message").remove();
                    addBotMsg("Invalid email. Please enter a valid email address.")
                    addEmailMsg();
                }
            }
        }


        function displayError(msg) {
            document.getElementsByClassName("chatbot-loader")[0].remove();
            initLoader.innerHTML = `
                <p class="text-3xl font-bold text-red-500 mb-4">Error</p>
                <p class="">${msg}</p>
            `;
        }


        initLoader.insertAdjacentHTML('beforeend', loader);
        const botId = new URLSearchParams(window.location.search).get("id");

        fetch(`/chatbot/init-bot?id=${botId}`, {
                method: "POST"
            })
            .then(e => {
                if (e.ok) return e.json();
                return e.text().then(r => {
                    throw new Error(r)
                })
            })
            .then(e => {

                for (let i of document.getElementsByClassName("bot-title")) i.textContent = e.bot_name;

                addBotMsg(e.welcome_message.replaceAll("\n", "<br><br>"));
                shouldCaptureEmail = e.email_capture;

                headerPfp.src = e.pic_url;
                messageInput.disabled = false;
                messageInput.focus();
                initLoader.remove();
            })
            .catch((e) => {
                console.log(e)
                let errorCode = JSON.parse(e.message).error;
                if (errorCode === "BOT_NOT_FOUND") displayError("Bot Not Found")
                else displayError("Server Error")
            })



        closeButton.addEventListener('click', () => {
            parent.postMessage("iframe_close", '*');
        });

        sendButton.addEventListener('click', submitMsg);
        messageInput.addEventListener("keyup", (event) => {
            if (event.key === "Enter") submitMsg();
        })
    </script>
</body>

</html>