<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create a New Chatbot</title>

    <link rel="stylesheet" href="{{url_for('static',filename='css/output.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

    <style>
        .dropdown-menu {
            display: none;
        }

        .form-save:disabled {
            background-color: #003a77;
        }
    </style>
</head>

<body class="h-[100vh] bg-[#F4F7FF]">
    <div class="py-14 lg:py-20 h-[100%]">
        <h1 class="text-center mb-20 text-4xl font-bold text-[#0074f0]">Create a New Chatbot</h1>

        <div class="w-full px-4 flex flex-col items-center">
            <div class="w-[90%] mx-auto text-center bg-white rounded-lg relative py-14 px-8 sm:px-12 md:px-[60px]">

                <div class="mb-4">
                    <div class="mb-2 flex flex-row items-center form-field">
                        <span label-key="bot_name" class="w-[20%] text-start form-key">Bot Name</span>
                        <input val-type="text" placeholder="Enter Bot Name"
                            class="border rounded px-2 py-1 w-[100%] form-value" type="text">
                    </div>

                    <div class="mb-2 flex flex-row items-center form-field">
                        <span label-key="email_capture" class="w-[20%] text-start form-key">Capture Email</span>
                        <div val-type="dropdown" class="w-[100%] flex justify-start form-value">
                            <div class="relative inline-block w-[10rem]">
                                <button
                                    class="w-full py-2 px-4 border rounded flex flex-row items-center justify-between"
                                    onclick="toggleDropdown(this)">
                                    <p class="dropdown-text">No</p>

                                    <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor"
                                        aria-hidden="true">
                                        <path fill-rule="evenodd"
                                            d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                                            clip-rule="evenodd"></path>
                                    </svg>

                                </button>

                                <div
                                    class="dropdown-menu absolute left-0 mt-2 w-full bg-white border rounded shadow-lg z-10">
                                    <ul class="py-1">
                                        <li>
                                            <button class="w-full text-left px-4 py-2 hover:bg-gray-100"
                                                onclick="selectOption(this, 'Yes', 0)">Yes</button>
                                        </li>
                                        <li>
                                            <button class="w-full text-left px-4 py-2 hover:bg-gray-100"
                                                onclick="selectOption(this, 'No', 0)">No</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mb-2 flex flex-row items-center form-field">
                        <span label-key="pic_url" class="w-[20%] text-start form-key">Avatar URL</span>
                        <input val-type="text" placeholder="Enter Avatar URL"
                            class="border rounded px-2 py-1 w-[100%] form-value" type="url">
                    </div>

                    <div class="mb-2 flex flex-row items-center form-field">
                        <span label-key="welcome_message" class="w-[20%] text-start form-key">Welcome Message</span>
                        <textarea val-type="textarea" placeholder="Type a Welcome Message"
                            class="border rounded px-2 py-1 w-[100%] h-40 form-value"></textarea>
                    </div>

                    <div class="mb-2 flex flex-row items-center">
                        <span label-key="welcome_message" class="w-[20%] text-start">Knowledge Documents</span>

                        <div val-type="upload" class="rounded w-[100%]">

                            <label for="document"
                                class="flex justify-center text-center cursor-pointer bg-gray-200 active:bg-gray-300 rounded py-1">
                                Choose files
                            </label>

                            <input type="file" id="document" name="document" accept=".txt" multiple required
                                class="hidden">

                            <p id="fileInfo" class="mt-2 text-sm text-gray-600 text-left"></p>
                        </div>

                    </div>
                </div>


                <div class="w-full mt-4 flex justify-end">
                    <div>
                        <button class="bg-gray-200 text-black px-4 py-2 rounded active:bg-gray-300 mr-2 form-delete"
                            onclick="cancelBot()">Cancel</button>

                        <button class="bg-[#0074f0] text-white px-4 py-2 rounded active:bg-[#004fa3] form-save"
                            onclick="createBot()">Create Bot</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

<script>
    function toggleDropdown(button) {
        const dropdownMenu = button.nextElementSibling;
        dropdownMenu.style.display = dropdownMenu.style.display === 'block' ? 'none' : 'block';
    }

    function selectOption(button, value, idx) {
        document.getElementsByClassName("dropdown-text")[idx].textContent = value;
        button.closest('.relative').querySelector('button').nextElementSibling.style.display = 'none';
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('.dropdown-menu') && !event.target.closest('.relative')) {
            const dropdowns = document.querySelectorAll('.dropdown-menu');
            dropdowns.forEach(dropdown => {
                dropdown.style.display = 'none';
            });
        }
    }
</script>

<script>
    const documentInput = document.getElementById('document');
    const fileInfo = document.getElementById('fileInfo');

    documentInput.addEventListener('change', function () {
        const files = documentInput.files;
        if (files.length > 0) {
            const allowedExtensions = /(\.txt)$/i;
            let fileDetails = '';
            for (let file of files) {
                if (!allowedExtensions.exec(file.name)) {
                    fileDetails += `${file.name}: Invalid file type. Allowed types are .txt\n`;
                    documentInput.value = '';
                    break;
                } else {
                    fileDetails += `${file.name}<br>`;
                }
            }
            fileInfo.innerHTML = `${fileDetails}`;
        } else {
            fileInfo.innerHTML = '';
        }
    });

    function validateUrl(url) {
        var pattern = new RegExp('^(https?:\\/\\/)?' + // protocol
            '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|' + // domain name
            '((\\d{1,3}\\.){3}\\d{1,3}))' + // OR ip (v4) address
            '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*' + // port and path
            '(\\?[;&a-z\\d%_.~+=-]*)?' + // query string
            '(\\#[-a-z\\d_]*)?$', 'i'); // fragment locator
        return !!pattern.test(url);
    }

    function cancelBot() {
        window.location.href = "/dashboard";
    }

    function createBot() {
        let vals = document.querySelectorAll(".form-field");
        let fileData = new FormData();
        for (let file of documentInput.files) {
            fileData.append('files[]', file, file.name);
        }

        let botData = {};
        let abort = false;

        for (let elm of vals) {
            let key = elm.querySelector(".form-key").getAttribute("label-key");
            let valElm = elm.querySelector(".form-value");
            let value;


            if (["text", "textarea"].includes(valElm.getAttribute("val-type"))) {
                value = valElm.value.replaceAll("\n\n", "\n");
            } else {
                value = valElm.querySelector(".dropdown-text").textContent.trim() === "Yes";
            }
            botData[key] = value;

            if (key === "pic_url" && validateUrl(value) === false) {
                alert("Invalid Avatar URL");
                abort = true;
            }

        }

        fileData.append("bot_data", JSON.stringify(botData))

        if (abort === false) {
            document.querySelector(".form-save").disabled = true;

            fetch("/dashboard/new-bot/create", {
                    method: 'POST',
                    body: fileData
                }).then(e => {
                    if (e.ok) return e.json();
                    return e.text().then(r => {
                        throw new Error(r)
                    })
                })
                .then(e => {
                    if(e.status === 200) window.location.href = e.redirect
                })
                .catch(e => {
                    console.log(e)
                });
        }
    }
</script>


</html>