<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot Preview</title>

    <style>
        body {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #9ebad3;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        }

        #iframe {
            border: none;
            width: 20vw;
            height: 70vh;
        }
    </style>
</head>

<body style="height: 100vh;">
    <div id="iframe-container" style="display: none;">
        <iframe id="iframe" onload="showIframe()"></iframe>
    </div>
</body>

<script>
    //const chatbotUrl = "http://127.0.0.1:5000"
    const chatbotUrl = "https://chatbot.saaheerpurav.com"

    const botId = new URLSearchParams(window.location.search).get("bot-id");
    document.getElementById("iframe").setAttribute("src", `${chatbotUrl}/chatbot/iframe?id=${botId}`);

    window.showIframe = function () {
        document.getElementById("iframe-container").style.display = "block";
    }
</script>

</html>