<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Signup</title>

  <link rel="stylesheet" href="{{url_for('static',filename='css/output.css')}}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>
  <div class="bg-[#F4F7FF] py-14 lg:py-20 h-[100vh] overflow-hidden">
    <h1 class="text-center mb-20 text-4xl font-bold text-[#0074f0]">Signup</h1>

    <div class="w-full">
      <div class="flex flex-wrap -mx-4">
        <div class="w-full px-4 flex flex-col items-center">
          <div
            class="w-full sm:w-[50%] md:w-[30%] mx-auto text-center bg-white rounded-lg relative overflow-hidden py-14 px-8 sm:px-12 md:px-[60px]">

            <form id="authForm">
              <div class="mb-6">
                <input type="email" name="email" placeholder="Email" required class="form-email w-full rounded-md border border-[#E9EDF4] py-3 px-5 bg-[#FCFDFE] text-base text-body-color placeholder-[#ACB6BE] outline-none
              focus-visible:shadow-none focus:border-[#0074f0] transition" />
              </div>

              <div class="mb-6">
                <input type="password" name="password" placeholder="Password" required class="form-password w-full rounded-md border border-[#E9EDF4] py-3 px-5 bg-[#FCFDFE] text-base text-body-color placeholder-[#ACB6BE] outline-none
              focus-visible:shadow-none focus:border-[#0074f0] transition" />
              </div>

              <div class="mb-6">
                <input type="password" name="confirm-password" placeholder="Confirm Password" required class="form-password w-full rounded-md border border-[#E9EDF4] py-3 px-5 bg-[#FCFDFE] text-base text-body-color placeholder-[#ACB6BE] outline-none
              focus-visible:shadow-none focus:border-[#0074f0] transition" />
              </div>

              <div class="mb-10">
                <button type="submit" class="w-full rounded-md border bordder-[#0074f0] py-3 px-5 bg-[#0074f0] active:bg-[#004fa3] text-base text-white cursor-pointer
            hover:bg-dark transition duration-300 ease-in-out">
                  Signup
                </button>
              </div>
            </form>

            <p class="text-base text-[#adadad]">
              Already have an account?
              <a href="/login" class="text-[#0074f0] hover:underline">
                Login
              </a>
            </p>
          </div>

          <div id="message" style="display: none;"
            class="bg-red-500 w-full sm:w-[50%] md:w-[30%] mt-10 rounded-lg text-center py-5 text-white">
          </div>

        </div>
      </div>
    </div>
  </div>
</body>

<script>
  const messageElement = document.getElementById('message');

  function validateEmail(email) {
    var re = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    return re.test(email);
  }

  function displayError(msg) {
    messageElement.textContent = msg;
    messageElement.style.display = 'block';
  }

  document.getElementById('authForm').addEventListener('submit', function (event) {
    event.preventDefault();

    const email = document.getElementsByClassName('form-email')[0].value;
    const password = document.getElementsByClassName('form-password')[0].value;
    const confirmPassword = document.getElementsByClassName('form-password')[1].value;

    if (password !== confirmPassword) {
      displayError("Passwords do not match")
      return;
    }

    if (!validateEmail(email)) {
      displayError("Invalid email")
      return;
    }


    fetch("/signup", {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          email: email,
          password: password
        })
      })
      .then(e => {
        if (e.ok) return e.json();
        return e.text().then(r => {
          throw new Error(r)
        })
      })
      .then(e => {
        window.location.href = e.redirect;
      })
      .catch(e => {
        let errorCode = JSON.parse(e.message).error;
        if (errorCode === "USER_ALREADY_EXISTS") displayError("User already exists")
        else displayError("Server Error")
      });
  });
</script>

</html>